<div class="container">
    <br>
    <div class="row">
        <div class="col m2">
            <img src="/image/client.png" class="responsive-img circle z-depth-2" alt="">
        </div>

        <div class="col m2">
            <a href="/instructer/panel">
            <img src="/image/instructer.jpg" class="responsive-img circle z-depth-2" alt=""></a>
        </div>
        <div class="col m2">
            <a href="/fee/panel">
            <img src="/image/fee.png" class="responsive-img circle z-depth-2" alt=""></a>
        </div>
           <div class="col m2">
               <a href="/class/panel">
            <img src="/image/gym.png" class="responsive-img circle z-depth-2" alt=""></a>
        </div>
        <div class="col m2">
            <img src="/image/attendence.jpg" class="responsive-img circle z-depth-2" alt="">
        </div>
         <div class="col m2">
             <a href="/client/panel">
            <img src="/image/people.jpg" class="responsive-img circle z-depth-2" alt="">
            </a>
        </div>
            <div class="col m2">
            <img src="/image/logout.png" class="responsive-img circle z-depth-2" alt="">
        </div>
    </div>

</div>

