<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/materialize/css/materialize.min.css">
    <script src="/materialize/js/materialize.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-route.min.js"></script>
    <script src="/modules/class/module.js"></script>
    <script src="/modules/class/controller.js"></script>
    
    <script src="/js/script.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
